body {
    margin: 0;
    overflow: hidden; 
    background-color: #000000; 
}

#particleCanvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#songname {
    position: absolute;
    bottom: 10px;   
    right: 10px;  
    color: white;  
    font-size: 16px;
    font-family: Arial, sans-serif;
    background: rgba(0, 0, 0, 0.5); 
    padding: 5px 10px;
    border-radius: 5px;
    pointer-events: none; 
}
